{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form by Tooplate</title>
	<!--
    Template 2105 Input
	http://www.tooplate.com/view/2105-input
	-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="{% static "login/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "login/css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "login/css/tooplate.css" %}">
</head>

<body id="login">
    <div class="container">
        <div class="row tm-register-row tm-mb-35">
            <div class="col-3">
            </div>
            <div class="col-6 tm-login-l align-center">

                <form method="post" class="tm-bg-black p-5 h-100">{% csrf_token %}
                    <h4 class="mt-0 text-white font-weight-light">New Password</h4>
                    <input type="text" value="{{ smsg }}" id="smsg" hidden>
                    <h2 style="font-size:20px; color:red">{{ msg }}</h2>
                    <div class="input-field mb-5">
                        <input placeholder="Password" id="password" name="password" type="password" class="validate">
                    </div>
                    <div class="input-field mb-5">
                        <input placeholder="Again Password" id="password2" name="password2" type="password" class="validate">
                    </div>

                    <div class="tm-flex-lr">
                         <a href="/login/" class="white-text small">Back</a>
                        <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Submit</button>
                    </div>
                </form>
            </div>
            <!--<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-r">-->
                <!--<header class="font-weight-light tm-bg-black p-5 h-100">-->
                    <!--<h3 class="mt-0 text-white font-weight-light">Your Login</h3>-->
                    <!--<p>Asset management refers to the management of users's assets.</p>-->
                    <!--<p class="mb-0">We are dealing with Tangible assets. Tangible assets are things we can touch and include buildings, land, computers, or office equipment.</p>-->
                <!--</header>-->
            <!--</div>-->
        </div>

        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12 text-center">
                <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5">
                    Copyright &copy; 2018 Vitez Software Lab

                    <!-- - <a rel="nofollow" href="http://www.tooplate.com/view/2105-input">Input</a> by-->
                    <!--<a rel="nofollow" href="http://tooplate.com" class="tm-footer-link">Tooplate</a>-->
                </p>
            </div>
        </footer>
    </div>

    <script src="{% static "login/js/jquery-3.2.1.slim.min.js" %}"></script>
    <script src="{% static "login/js/materialize.min.js" %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
            var smsg = $("#smsg").val()
            if (smsg == "success"){
                swal("Success!", "Your Password changed Successfully!", "success")
                .then((value) => {
                  window.location.replace("http://127.0.0.1:8000/login/");
                });
            }

        });
    </script>
</body>

</html>